/* public/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#login-container {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#login-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 8px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.title {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}